/* Define theme variables */
:root {
  --bg-color-dark: #181818;
  --bg-color-light: #f4f4f4;
  --card-bg-dark: #282828;
  --card-bg-light: #ffffff;
  --text-color-dark: #fff;
  --text-color-light: #000;
}

body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

body.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  font-family: 'Arial', sans-serif;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3rem;
}

.skill-card {
  background-color: var(--card-bg-dark);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%;
  color: var(--text-color-dark);
}

.skill-card.light-mode {
  background-color: var(--card-bg-light);
  color: var(--text-color-light);
}

.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-item img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.skill-item span {
  font-size: 1.2rem;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .tech-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between sections */
    padding: 10px;
  }

  .tech-card {
    width: 100%; /* Full width for each card */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    margin-bottom: 20px;
  }

  .tech-list {
    display: grid ;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center;
    gap: 10px; /* Space between tech items */
  }

  .tech-item {
    flex: 1 1 calc(50% - 10px); /* Adjust items to take half width with some margin */
    display: flex;
    flex-direction: column; /* Stack image and text */
    align-items: center;
    text-align: center;
    padding: 5px;
  }

  .tech-item img {
    width: 40px; /* Adjust icon size */
    height: 40px;
    margin-bottom: 5px; /* Space between image and text */
  }

  .tech-item span {
    font-size: 0.9rem; /* Slightly smaller text on mobile */
  }
}

/* Further adjustments for very small screens */
@media screen and (max-width: 480px) {
  .tech-item {
    flex: 1 1 100%; /* Each item takes full width */
    margin-bottom: 10px;
  }

  .tech-section {
    padding: 5px;
    margin-top: -60%;
  }
}
